* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 600% 600%;
  animation: gradient 50s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#sec-1 {
  background-color: rgb(227, 229, 225);
}
#sec-2 {
  background-color: rgb(24,24,27);
  padding-top: 30px;
  display: flex;
  gap: 10px;
}

.card{
  padding: 20px;
  width: 350px;
  height: 600px;
  background-color: #ee7752;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.card-image{
  flex: 1;
}

.card-description{
  flex: 1;
}

.scroll-down {
  height: 5%;
  width: 15%;
  border: 3px solid black;
  position: absolute;
  left: 42.5%;
  vertical-align: middle;
  bottom: 40px;
  border-radius: 50px;
  cursor: pointer;
  animation: fadeIn 10s;
  -webkit-animation: fadeIn 10s;
  -moz-animation: fadeIn 10s;
  -o-animation: fadeIn 10s;
  -ms-animation: fadeIn 10s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border: 2px solid black;
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::before {
  top: 20%;
  animation-delay: 0.2s;
}

@keyframes scroll-down {
  0% {
    /* top:20%; */
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    top: 90%;
    opacity: 0;
  }
}

.typing-demo {
  width: 43ch;
  animation: typing 3s steps(35), blink .4s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: "Arial Black", serif;
  font-size: 3em;
  color: white;
  text-transform: uppercase;
}

@media screen and (max-width: 1301px) {
  .typing-demo{
    font-size: 2em;
  }

  #sec-2{
    flex-direction: column;
  }
}

@media screen and (max-width: 984px) {
  .typing-demo{
    font-size: 1em;
  }
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}